<div id="banner" class="row">
    <div id="banner-row" class="col-lg-12 page-header">
        <!-- <h3>Chris Brake Show Sound Board Cliporater Maddnes!!!</h3> -->
        <img class="img-responsive" src="assets/banner.png" >
    </div>
</div>

<div id="route-container">
    <!-- Main Page -->
    <div class="spa-page" id="soundboard-main">
        <div id="iphoneKludge"  hidden>
            <button id="init" class="btn-block" ontouchstart="javascript:SoundBoard.activateAudioForIOS();">Activate Audio</button>
            <hr />
        </div>

        <div id="sound-board" class="row" data-bind="foreach: clips">
            <div class="col-xs-6 col-md-2" data-toggle="context" data-bind="attr: { 'data-target': '#context-menu-' + id }">
                <a href="#" class="thumbnail disabled soundboard-clip" data-bind="click: $root.playClip">
                    <img data-toggle="tooltip" data-bind="attr:{src: defaultImage.url, alt: clipInfo, title: clipInfo }, playbackImage: isPlaying" class="img-responsive img-rounded disabled" />
                </a>

                <script type="text/javascript">
                    if (!jPhong.deviceInfo.supportsAudioContext()) {
                        var fallBack = '<audio preload hidden class="soundboard-clip-audio" data-bind="foreach: clipSources, event: { ended: $root.clipEnded, loadstart: $root.loading, canplay: $root.canPlay }">' +
                            '<source data-bind="attr:{src: url, type: mediaType }">' +
                            '</audio>';

                        document.write(fallBack);
                    }
                </script>


                <span class="soundboard-clip-load" data-bind="loadingSpinner: isLoading"><i class="fa fa-spinner fa-spin"></i>Loading...</span>
            </div>

            <!-- Clip Context Menu -->
            <div data-bind="attr: { 'id': 'context-menu-' + id }">
                <ul class="dropdown-menu" role="menu">
                    <li><a tabindex="-1" data-bind="attr: { href: '#/clip/' + id }">Edit Clip</a></li>
                    <li><a tabindex="-1" data-bind="attr: { href: '#/delete-clip/' + id }">Delete Clip</a></li>
                </ul>
            </div>
        </div>


    </div>

    <!-- Clip Edit Page -->
    <div class="spa-page" id="clip-edit" hidden>
        <form role="form">
            <div id="clip-editor" data-bind="with: currentClip">
                <h3>Edit Clip <span data-bind="text: id"></span></h3>
                <div class="form-group">
                    <label>info: </label>
                    <input type="text" data-bind="value: clipInfo"></input>
                </div>

                <div class="form-group">
                    <label>Default Image: </label>
                    <select data-bind="options: $root.imageFiles,
                        optionsText: 'title',
                        optionsValue: 'id',
                        value: defaultImage">
                    </select>
                </div>

                <div class="form-group">
                    <label>Playing Image: </label>
                    <select data-bind="options: $root.imageFiles,
                        optionsText: 'title',
                        optionsValue: 'id',
                        value: imagePlaying">
                    </select>
                </div>

                <div class="form-group">
                    <button id="btnSaveClip">Save Clip</button>
                    <button id="btnCancelClipEdit">Cancel</button>
                </div>
            </div>
         </form>

         <div data-bind="with: currentClip">
             <%= form_tag({ controller: 'sound_board_clip_sources', action: 'create' }, multipart: true,  remote: true, id: :frmClipSourceUpload, role: :form ) do %>

                <div class="form-group">
                    <%= label_tag @sound_file, 'Select New Sound Source File: ' %>
                    <%= file_field :sound, :file %>
                    <%= hidden_field :sound, :clipID, "data-bind" => "value: id" %>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= submit_tag("Upload Sound Source", :class => 'btn btn-default') %>
                    </div>
                </div>
            <% end %>

            <div class="form-group">
                <label>Sound Sorces: </label>
                <div>
                    <select multiple data-bind="
                        options:  clipSources,
                        optionsText: 'url',
                        optionsValue: 'id',
                        value: selectedSoundSources">
                    </select>
                </div>
                <button id="btnRemoveSoundSource">Remove Sound Source</button>
            </div>
        </div>
    </div>

    <!-- Upload Image Page -->
    <div class="spa-page" id="upload-page" hidden>
        <h3>Image Uploads</h3>
        <%= form_tag({ controller: 'images', action: 'create' }, multipart: true,  remote: true, id: :frmImageUpload, role: :form ) do %>
            <div class="form-group">
                <%= label_tag @image_title, 'Title: ' %>
                <%= text_field :image, :title %>
            </div>

            <div class="form-group">
                <%= label_tag @image_file, 'Select File: ' %>
                <%= file_field :image, :file %>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <%= submit_tag("Upload", :class => 'btn btn-default') %>
                </div>
            </div>
        <% end %>

        <h3>Uploaded images</h3>
        <div id="sound-board" class="row" data-bind="foreach: imageFiles">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail disabled soundboard-clip">
                    <img data-bind="attr:{src: url, alt: title, title: title }" class="img-responsive img-rounded disabled" />
                </a>
            </div>
        </div>
    </div>
</div>