<!DOCTYPE html>
<html>
<head>
  <title>The Chris Brake Show Sound Board Cliporater Madness!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag :application %>
    <script src="assets/library/jPhong.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/library/html5shiv.js"></script>
    <script src="js/library/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>

<%= javascript_include_tag :application %>

</html>
